<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mtl.product.mapper.ProductMapper">

	<select id="productCount" resultType="int">
			SELECT
				COUNT(*)
			FROM PRODUCT
	</select>
	
	<select id="productList" resultType="com.mtl.product.domain.ProductVO">
	 		SELECT *
            	
        	FROM PRODUCT

	</select>

	 <select id="productDetail" parameterType="int" resultType="com.mtl.product.domain.ProductVO">
        SELECT
            *
        FROM PRODUCT
        WHERE
            product_id = #{product_id}
    </select>
    
    <insert id="productInsert" parameterType="com.mtl.product.domain.ProductVO">
        INSERT INTO
        PRODUCT (product_id, brand, manufacture_date, purchase_date, purchase_price,
        purchase_url, destruction, deprecation, as_number)
        
        VALUES(#{product_id},#{brand},#{manufacture_date},#{purchase_date},#{purchase_price},
        #{purchase_url},#{destruction},#{deprecation},#{as_number}) 
    </insert>
        
    <update id="productUpdate" parameterType="com.mtl.product.domain.ProductVO">
        UPDATE PRODUCT
            SET
        <if test="product_name != null">
            product_name = #{product_name}
        </if>
        <if test="product_name != null and brand != null"> , </if>
        <if test="brand != null">
            BRAND = #{brand}
        </if>
        <if test="product_name != null and manufacture_date != null"> , </if>
        <if test="manufacture_date != null">
        WHERE MANUFACTURE_DATE = #{manufacture_date}
        </if>
        <if test="product_name != null and purchase_date != null"> , </if>
        <if test="purchase_date != null">
        WHERE purchase_date = #{purchase_date}
        </if>
        <if test="product_name != null and purchase_price != null"> , </if>
        <if test="purchase_price != null">
        WHERE purchase_price = #{purchase_price}
        </if>
        <if test="product_name != null and purchase_url != null"> , </if>
        <if test="purchase_url != null">
        WHERE purchase_url = #{purchase_url}
        </if>
        <if test="product_name != null and destruction != null"> , </if>
        <if test="destruction != null">
        WHERE MANUFACTURE_DATE = #{manufacture_date}
        </if>
        <if test="product_name != null and deprecation != null"> , </if>
        <if test="deprecation != null">
        WHERE MANUFACTURE_DATE = #{manufacture_date}
        </if>
        <if test="product_name != null and as_number != null"> , </if>
        <if test="as_number != null">
        WHERE MANUFACTURE_DATE = #{manufacture_date}
        </if>
    </update>
    
    <delete id="productDelete" parameterType="int">
        DELETE FROM PRODUCT WHERE product_id = #{product_id}
    </delete>

</mapper>